<footer>
  <div class="cont1">
    <div class="cont11">
      <div class="cont111">
        <div class="cont1111">
          <div class="cont11111">
            <a href="https://maps.app.goo.gl/KgiLAGf66M6SAoiHA" target="_blank">
              <i class="fa-solid fa-location-dot"></i>
              <div class="sec">
                <h4>{{ isGeorgian ? 'მისამართი' : 'Address' }}</h4>
                <span>{{ isGeorgian ? 'ელიავას ბაზრობა, მაღაზია N159' : 'Eliava Market, Shop N159' }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="cont1112">
          <div class="cont11112">
            <a href="tel:+995593268984" target="_blank">
              <i class="fa-solid fa-phone"></i>
              <div class="sec">
                <h4>{{ isGeorgian ? 'დაგვიკავშირდით' : 'Contact Us' }}</h4>
                <span>+995 593 268 984</span>
              </div>
            </a>
          </div>
        </div>
        <div class="cont1113">
          <div class="cont11113">
            <a href="mailto:otowork3@gmail.com" target="_blank">
              <i class="fa-solid fa-envelope"></i>
              <div class="sec">
                <h4>{{ isGeorgian ? 'ელ-ფოსტა' : 'Email' }}</h4>
                <span>{{ isGeorgian ? 'mail&commat;info.com' : 'mail&commat;info.com' }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="cont12">
      <div class="cont121">
        <div class="cont1211">
          <div class="cont12111">
            <div class="cont121111">
              <a routerLink="">
                <img src="assets/logos/fullWhiteEN.png" class="" alt="logo" />
              </a>
            </div>
            <div class="cont121112">
              <p>
                <!-- {{ isGeorgian ? 'ქართული' : 'English' }} -->
              </p>
            </div>
            <div class="cont121113">
              <span>{{ isGeorgian ? 'გამოგვიწერეთ' : 'Subscribe' }}</span>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
          </div>
        </div>
        <div class="cont1212">
          <div class="cont12121">
            <div class="cont121211">
              <h3>{{ isGeorgian ? 'ნავიგაცია' : 'Navigation' }}</h3>
            </div>
            <ul>
              <li><a routerLink="">{{ isGeorgian ? 'მთავარი' : 'Home' }}</a></li>
              <!-- <li><a href="#">{{ isGeorgian ? 'ჩვენს შესახებ' : 'About' }}</a></li> -->
              <!-- <li><a href="#">{{ isGeorgian ? 'სერვისები' : 'Services' }}</a></li> -->
              <!-- <li><a href="#">{{ isGeorgian ? 'პორტფოლიო' : 'Portfolio' }}</a></li> -->
              <li><a routerLink="contact">{{ isGeorgian ? 'კონტაქტი' : 'Contact' }}</a></li>
              <!-- <li><a href="#">{{ isGeorgian ? 'ჩვენს შესახებ' : 'About Us' }}</a></li> -->
              <li><a routerLink="">{{ isGeorgian ? 'ჩვენი სერვისები' : 'Our Services' }}</a></li>
              <!-- <li><a href="#">{{ isGeorgian ? 'ექსპერტთა გუნდი' : 'Expert Team' }}</a></li> -->
              <!-- <li><a href="#">{{ isGeorgian ? 'კონტაქტი ჩვენთან' : 'Contact Us' }}</a></li> -->
              <!-- <li><a href="#">{{ isGeorgian ? 'ბოლო სიახლეები' : 'Latest News' }}</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cont2">
    <div class="cont21">
      <div class="cont211">
        <div class="cont2111">
          <div class="cont21111">
            <p>
              Copyright &copy; 2018, {{ isGeorgian ? 'ყველა უფლება დაცულია' : 'All Rights Reserved' }}
            </p>
          </div>
        </div>
        <div class="cont2112">
          <div class="cont21121">
            <ul>
              <li><a routerLink="">{{ isGeorgian ? 'მთავარი' : 'Home' }}</a></li>
              <li><a href="#">{{ isGeorgian ? 'პირობები' : 'Terms' }}</a></li>
              <li><a href="#">{{ isGeorgian ? 'კონფიდენციალურობა' : 'Privacy' }}</a></li>
              <li><a href="#">{{ isGeorgian ? 'პოლიტიკა' : 'Policy' }}</a></li>
              <li><a routerLink="contact">{{ isGeorgian ? 'კონტაქტი' : 'Contact' }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
