<section>
  <div class="partout" *ngIf="teni">
    <img [src]="teni.image" alt="{{ teni.name }}" />
    <div class="part2">
      <h1>{{ teni.name }}</h1>
      <p class="descr">{{ formatDescription(teni.description, teni) }}</p>
      <p>კატეგორია: {{ teni.category }}</p>
      <p class="code">კოდი: {{ teni.code }}</p>
      <!-- <p class="price">ფასი: {{ teni.price }}.00₾</p> -->
      <div class="details">
        <h2>დეტალები</h2>
        <ul>
          <li>
            ძაბვა: <span> {{ teni.volt }} V </span>
          </li>
          <li>
            სიმძლავრე: <span> {{ teni.watt }} W </span>
          </li>
          <li>
            სიგრძე: <span> {{ teni.length }} მმ </span>
          </li>
          <li>
            სიგანე: <span> {{ teni.width }} მმ </span>
          </li>
          <li>
            მილის დიამეტრი: <span> {{ teni.diameter }} მმ </span>
          </li>
        </ul>
      </div>
      <a href="tel:+995593268984">შეკვეთა</a>
    </div>
  </div>
</section>
<div *ngIf="!teni">
  <p>Item not found.</p>
</div>
