*{
  margin: 0;
  padding: 0;
}
.banner{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  a{
  width: 80%;
  img{
    width: 100%;
  }
}
}


@media (max-width: 768px) {
  .banner{
    width: 100%;
    a{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
}