// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import url('@splidejs/splide/css');

:root{
  --top-fade:#f3c9bc;
  --top-color:#e0582e;
  --top-much:#b43008;
    --light-color:#EEEEEE;
    --white:#fff;
    --mid-color:#1F1F1F;
    --mid-light:#353535;
    --more-light:#919191;
    --morel-light:#d3d3d3;
    --mored-light:#707070;
    --base-color:#151515;

    --blur-white:#ffffff50;
}
*{
    margin: 0;
    padding: 0;
    h1,h2,h3,h4,h5,h6,p,span,a,li,button{
        &:lang(ka) {
          font-family: "ALK Sanet", sans-serif;
        }
        &:lang(en) {
          font-family: "Reddit Mono", monospace;
        }
      }
}
body{
    background-color: var(--light-color);
}
